<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="panel-title">{{ contact.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive">
      </div>
      <div class="col-sm-6 text-right">
        <a class="btn btn-primary" routerLink="edit">Edit</a>
        <a class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p><span style="font-weight: bold;">Email:</span>{{ contact.email }}</p>
        <p><span style="font-weight: bold;">Phone:</span> {{ contact.phone}} </p>
      </div>
    </div>
  </div>
</div>
