<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="panel-title"></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="" alt="" class="img-responsive">
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p><span style="font-weight: bold;">Email:</span></p>
        <p><span style="font-weight: bold;">Phone:</span></p>
      </div>
    </div>
  </div>
</div>
