<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row vertical-align">
      <div class="col-sm-6">
        <h2 class="panel-title">Contacts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group pull-left pad-left-right col-xs-7">
          <input
            #searchBox
            (keyup)="search(searchBox.value)"
            type="text"
            placeholder="Enter a search value"
            class="form-control">
          <div 
            (click)="search(searchBox.value)"
            class="glyphicon glyphicon-search input-group-addon"
            style="cursor:pointer">
          </div>
        </div>
        <div class="pull-right pad-left-right">
          <a routerLink="new" class="btn btn-success">New Contact</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <cms-contact-item 
      *ngFor="let contactItem of contacts | contactsFilter:term"
      dnd-draggable
      [dragEnabled]="true"
      [dragData]="contactItem"
      [dropZones]="['contactGroup']"
      [contact]="contactItem">
    </cms-contact-item>
  </div>
</div>
